body {

background-image: url(imagenes/fondo.png), linear-gradient(to right, #ff1151, #a809f7)

}

/* NAV */

.navbar {

background-color: black;

}

ul li a {


}


.seccion2 {

background-color: yellow;

}
