body {

background-image: url(imagenes/fondo.png), linear-gradient(to right, #ff1151, #a809f7);

}

/* NAV */

.navbar {

background-color: transparent;
width: 1600px;
height: 55px;
}

.boton0 {
background-color: transparent;
width: 1600px;
height: 55px;

}

ul li {

	list-style: none;
	display: inline-block;
	width: 50px;
	padding: 8px 25px 12px 38px;

}

ul li a {

	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
	color: white;
}


/* HEADER */

header {


height: 402px;
}



header p {

	font-family: 'Quicksand', sans-serif;
	text-align: left;
	font-size: 45px;
	color: white;
	line-height: 1.1em;
	margin: 45px 75px;
}

header img {

	position: relative;
	left: 755px;
	bottom: 295px;
}

/* BOTON */

.boton {


	height: 20px;
	width: 225px;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	color: white;
	text-align: center;
	background-color: transparent;
	border-top: 1px solid white;
  	border-right: 1px solid white;
 	border-bottom: 1px solid white;
  	border-left: 1px solid white;
  	border-radius: 60px;
	padding: 15px 4px;
	margin: 0px 75px;


}

/* SECCION 2 */

.seccion2 {

background-color: #ffca2b;

}

 h1 {


font-family: 'Quicksand', sans-serif;
color: white;
font-size: 60px;
text-align: center;
padding: 85px 0px 0px 0px;
margin: 15px 0px 0px 0px;

}


.seccion2 p {

font-family: 'Quicksand', sans-serif;
color: white;
font-size: 15px;
text-align: center;
margin: 10px 0px;
padding: 0px;

}

/* SECCION 2 ICONOS/IMAGENES */


.appstore {


width: 200px;
height: 50px;

}



.googleplay {


width: 200px;
height: 50px;

}

/* SECCION 3 */


.seccion3 {

	background-color: white;
	height: 850px;
}

.seccion3 h2 {

	font-size: 45px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
    padding: 85px 0px 0px 0px;
    margin: 10px 0px;
}

.seccion3 p {

	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	text-align: center;
    margin: 10px 0px;


}

.telefono2 {

	position: relative;
    left: 50px;
    top: 100px;
}


/* SECCION 4 */

.seccion4 {

	background-image: url(imagenes/usuario.jpg); /* modificar el padding para que se vea la totalidad de la imagen */
	height: 800px;

}

.seccion5 {

	background-color: #ffca2b;
}

.footer {

	background-color: grey;
}