body {

background-image: url(imagenes/fondo.png), linear-gradient(to right, #ff1151, #a809f7);

}

/* NAV */

.navbar {

background-color: black;

}

ul li a {


}


.seccion2 {

background-color: yellow;

}

.seccion3 {

	background-color: white;
}


.seccion4 {

	background-image: url(imagenes/usuario.jpg); /* modificar el padding para que se vea la totalidad de la imagen */
	height: 800px;

}

.seccion5 {

	background-color: yellow;
}

.footer {

	background-color: grey;
}